@tailwind base;
@tailwind components;
@tailwind utilities;


.sectionHeight{
    min-height: calc(100vh - 50px) ;

}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    
    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    
    @media (min-width: 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    
    @media (min-width: 1024px) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
  
  .container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1rem;
    margin-right: -1rem;
  }
  